@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --tertiary-font: 'Raleway', sans-serif;

    --white: #FCFCFC;
    --bright-pink: #F7567C;
    --cornsilk: #FFFAE3;
    --tiffany-blue: #99E1D9;
    --wenge: #5D576B;
    --border-radius: 5px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
}

body {
    background: linear-gradient(var(--white), var(--tiffany-blue));
}

header {
    font-family: var(--primary-font);
    padding: 0.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & span {
        display: flex;
        justify-content: start;
        align-items: center;

        & .logo {
            width: 3vw;
        }

        & h1 {
            font-family: var(--tertiary-font);
            font-weight: 900;
            font-size: 2.5rem;
            text-transform: capitalize;
            margin-bottom: 2px;
        }
    }

    & nav {

        & ul {
            display: flex;
            gap: 0.5vw;
            list-style: none;

            & li .nav-item {
                color: black;
                padding: 0.5vw 0.75vw;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 1.2rem;
            }

            & li .nav-item:hover {
                border-bottom: 2px solid var(--bright-pink);
            }
        }

    }

}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    width: 80vw;
    margin: 0 auto;

    & #hero {
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & div:last-of-type {
            flex-grow: 2;
            
            & img {
                height: 80vh;
                border-radius: 0 0 100vw 100vw;
            }
        }

        & h1 {
            font-size: 3rem;
            font-family: var(--secondary-font);
            font-weight: 900;
        }

        & ul {
            display: flex;
            list-style: none;
            gap: 0.5vw;
            margin: 20px 0px;
        }

        & li a {
            color: black;
            text-decoration: none;
            padding: 10px 20px;
            background-color: var(--tiffany-blue);
            font-size: 1.1rem;
            border-radius: var(--border-radius);
            transition: 0.2s ease;
        }

        & li a:hover {
            background-color: var(--bright-pink);
            color: var(--white);
        }
    }

    & #aboutme {
        height: 30vh;
        display: flex;

        & ul {
            list-style: none;
            width: 20vw;
            & li {
                padding: 10px;
                margin: 10px;
                border: 1px solid black;
                font-size: 1.5rem;
            }
        }

        & h2 {
            font-family: var(--tertiary-font);
            font-size: 2rem;
            font-weight: 900;
        }
    }

    & #projects {
        height: 60vh;
    }
}