@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-font: 'Bebas Neue', sans-serif;
    --secondary-font: 'Roboto', sans-serif;

    --primary-color: #B7D1DA; 
    --secondary-color: #4F646F; 
    --background-color: #F0EDEE;
    --text-color: #0a090c;
    --accent-color: #000022; 
    --border-radius: 8px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: red;
    padding: 0.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & span {
        display: flex;
        justify-content: start;
        align-items: center;

        & .logo {
            width: 3vw;
        }
    }
}
